<nav>
  <a routerLink="">DisplayHelloWorld</a>  |
  <a routerLink="showhellobutton">ShowHelloButton</a> |
  <a routerLink="displayname">DisplayName</a> |
  <a routerLink="counter">Counter</a> |
  <a routerLink="simpleform">Simpleform</a> |
  <a routerLink="userage">Userage</a> |
  <a routerLink="usergreeting">Usergreeting</a> |
  <a routerLink="calculator">calculator</a> |
  <a routerLink="textlength">Textlength</a> |
  <a routerLink="currencyconverter">Currencyconverter</a> |
  <a routerLink="evenoddchecker">Evenoddchecker</a> |
  <a routerLink="wordreverser">Wordreverser</a> |
  <a routerLink="showdate">Showdate</a> |
  <a routerLink="showusername">Showusername</a> |
  <a routerLink="multiplicationtable">Multiplicationtable</a> |
  <a routerLink="simplelogin">Simplelogin</a> |
  <a routerLink="fahrenheittocelsius">Fahrenheittocelsius</a> |
  <a routerLink="bookmarklist">Bookmarklist</a> |
  <a routerLink="charactercounter">Charactercounter</a> |
  <a routerLink="palindromechecker">Palindromechecker</a> |
  <a routerLink="temperatureconverter">Temperatureconverter</a> |
  <a routerLink="shoppinglist">Shoppinglist</a> |
  <a routerLink="factorialcalculator">Factorialcalculator</a> |
  <a routerLink="todomanager">Todomanager</a> |
  <a routerLink="guessnumbergame">Guessnumbergame</a> |
  <a routerLink="wordcounter">Wordcounter</a> |
  <a routerLink="randomnumbergenerator">Randomnumbergenerator</a> |
  <a routerLink="multiplicationchecker">Multiplicationchecker</a> |
  <a routerLink="uppercaseconverter">Uppercaseconverter</a> |
  <a routerLink="wordshuffler">Wordshuffler</a> |
  <a routerLink="bmisolver">Bmisolver</a> |
  <a routerLink="usernamevalidator">Usernamevalidator</a> |
  <a routerLink="interestcalculator">Interestcalculator</a> |
  <a routerLink="compoundinterestcalculator">Compoundinterestcalculator</a> |
  <a routerLink="fibonaccigenerator">Fibonaccigenerator</a> |
  <a routerLink="oddsumcalculator">Oddsumcalculator</a> |
  <a routerLink="currencyformatter">Currencyformatter</a> |
  <a routerLink="randomquotedisplay">Randomquotedisplay</a> |
  <a routerLink="uppercasegreeting">Uppercasegreeting</a> |
  <a routerLink="divisiblechecker">Divisiblechecker</a> |
  <a routerLink="rgbto-hex-converter">RGBtoHexConverter </a> |
  <a routerLink="speed-converter">SpeedConverter </a> |
  <a routerLink="leap-year-checker">leapYearChecker </a> |
  <a routerLink="day-difference-calculator">DayDifferenceCcalculator </a> |
  <a routerLink="pythagorean-theorem-solver">PythagoreanTheoremSolver </a> |
  <a routerLink="language-translator">LanguageTranslator </a> |

</nav>


<router-outlet></router-outlet>
