<p>
  <a routerLink="">DisplayHelloWorld</a>  |
  <a routerLink="showhellobutton">ShowHelloButton</a> |
  <a routerLink="displayname">DisplayName</a> |
  <a routerLink="counter">Counter</a> |
  <a routerLink="simpleform">Simpleform</a> |
  <a routerLink="userage">Userage</a> |
  <a routerLink="usergreeting">Usergreeting</a> |
  <a routerLink="calculator">calculator</a> |
  <a routerLink="textlength">Textlength</a> |
  <a routerLink="currencyconverter">Currencyconverter</a> |
  <a routerLink="evenoddchecker">Evenoddchecker</a> |

</p>
<router-outlet></router-outlet>
